<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	
	<!-- Permissions для камеры и фотогалереи -->
	<key>NSCameraUsageDescription</key>
	<string>Приложение использует камеру для создания фотографий персонажей комиксов</string>
	
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Приложение получает доступ к галерее для выбора фотографий персонажей</string>
	
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Приложение может сохранять созданные комиксы в галерею</string>
</dict>
</plist>
